<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/footer.css">

</head>

<body>
    <div class="footer-header">
        <p>Jaggu Ki Lalten</p>
    </div>
    <div class="footer-section">
        <div class="welcome">
            <img src="img/nxtelogo.png" alt="">
            <p>
                Welcome to the Shreehans Arts and Creations Pvt. Ltd. I am extremely proud the way our production house
                has
                risen- with
                flexibility and resilience.
            </p>
        </div>
        <div class="mobile">
            <div class="explore">
                <h3>Explore</h3>
                <ul>

                    <li>Home</li>
                    <li>Terms & Conditions</li>
                    <li>About Us</li>
                    <li>Gallery</li>
                    <li>Privacy Policy</li>
                    <li>Contact Us</li>
                    <li>Blogs</li>
                </ul>

            </div>
            <div class="services">
                <h3>Services</h3>
                <ul>
                    <li>Video Editing</li>
                    <li>Media Consulting</li>
                    <li>Equipment Availbility</li>
                    <li>Film Making</li>
                    <li>Studio Booking</li>
                    <li>Video Editing</li>
                </ul>

            </div>

        </div>
        <div class="subscribe">
            <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
            <div class="subscribe-section">
                <input type="text" placeholder="Enter your Email">
                <button type="submit">Subscribe</button>
            </div>

        </div>
    </div>
    <div class="developer">
        <p>Developed by Untechy</p>
    </div>
</body>

</html>