ul.nav > a:hover{
    color:red !important;
    background-color: white;
}

.nav-link:hover{
    /* text-decoration: line-through; */
        color: #f0b242;
}

ul li {
    margin-right: 20px;
}


#mylogo{
    filter: invert(200%);
}
.dropdown-item:hover{
   
color: white;
background-color: #f0b242;
appearance: none;

}
.dropdown{
    padding: 0;
    margin: 0;
}
.dropdown-menu{
    padding: 0;
}
.dropdown-item{
   
    color: white;
    background-color: black;
    appearance: none;
    z-index:-3;
    
    }


    ul{
        list-style-type: none;
        margin-left: 0;
    }

    .link-no-underline{
        text-decoration: none;
    }


    .video-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 aspect ratio */
        padding-top: 30px;
        height: 0;
        overflow: hidden;
      }
      
      .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      
      .dark-screen{
        background-color: black;
        color:white;
      }


   
      .outer-div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
      }

      .golden{
        border: none;
        height: 2px;
        background-color: gold;
      }

      #box-mine {
        width: calc(50% - 10px); /* Adjust the width of the card to fit two cards with a gap */
        margin: 20px; /* Center the card horizontally */
      }
      