*{
    color:white;
}

.footer-header p {
    background-color: rgba(255, 255, 255, 0.708);
    color: rgb(234, 151, 10);
    text-align: center;
    padding: 1rem;
    font-size: 18px;

}

.footer-section {
    display: flex;
    padding: 5rem;
    background-color: rgb(34, 31, 31);

}

.welcome {
    width: 100%;
}

.welcome p {
    line-height: 25px;
}

li::marker {
    color: rgb(234, 151, 10);
}

h3 {
    margin-bottom: 1rem;
}

ul li {
    line-height: 20px;
    margin-bottom: 10px;
    list-style-type: square;
    margin-left: -20px;
}

.welcome {
    margin-right: 5rem;
}

.mobile {
    display: flex;
    width: 100%;
    margin-left: 3rem;
}

.explore {
    width: 100%;



}

.services {
    width: 100%;
}

.subscribe {
    width: 100%;



}
.welcome img{
    margin-bottom: 6px;
}

.subscribe-section {
    display: flex;
    flex-wrap: wrap;
}

.subscribe-section input {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.subscribe-section button {
    background-color: rgb(234, 151, 10);
    padding: 1rem;
}

.developer {
    background-color: rgb(234, 151, 10);
}

.developer p {
    text-align: center;
    padding: 1rem;
    font-size: 18px;
}

@media screen and (max-width: 767px) {
    .welcome img {
        margin-left: 3rem;

    }

    .footer-section {
        display: flex;
        flex-direction: column;
        padding: 1rem;

    }

    .welcome {
        margin-right: 0rem;
    }

    ul li {
        font-size: 14px;
    }

    .mobile {
        margin-top: 1rem;
        display: flex;
        margin-bottom: 1rem;
        margin-left: 2rem;

    }

    .explore {


        margin-left: 0rem;
    }

    .services {

        margin-left: 0rem;
    }

    .subscribe h3 {
        margin-left: 1rem;
    }

    .subscribe-section {
        margin-left: 1rem;
    }
}